{% render 'partials/head.liquid', title: 'Home' %}

<section class="webinar-filters width-top-btm">

    <h1>Webinars</h1>

    <form action="#" method="get">
        <input type="text" name="search-webinar" placeholder="Search for a Webinar">
    </form>

    <ul class="category-webinars">
    <li><a class="filter-link" href="/categorie/all">All</a></li>
    <li><a class="filter-link" href="/categorie/breast">Breast</a></li>
    <li><a class="filter-link" href="/categorie/gastrointestinal">Gastrointestinal</a></li>
    <li><a class="filter-link" href="/categorie/gynaecology">Gynaecology</a></li>
    <li><a class="filter-link" href="/categorie/head-neck">Head & neck</a></li>
    <li><a class="filter-link" href="/categorie/lung">Lung</a></li>
    <li><a class="filter-link" href="/categorie/neuro-oncology">Neuro-oncology</a></li>
    <li><a class="filter-link" href="/categorie/prostate">Prostate</a></li>
    <li><a class="filter-link" href="/categorie/urology">Urology</a></li>
</ul>

</section>

<section class="all-webinars width-btm">

    <h2>All</h2>

    <ul class="webinars">
        {% for webinar in webinars %}

        <li class="webinar">
            <a href="/webinar/{{ webinar.slug }}">
                <div class="webinar-img">
                    <img src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}" alt="">
                    <p class="duration">{{ webinar.duration }}</p>
                </div>
                <h3>{{ webinar.title }}</h3>
                <p class="speaker">
                    {% for speaker in webinar.speakers %}
                    {{ speaker.avl_speakers_id.fullname }}
                    {% endfor %}
                </p>
                
                <div>
                    <ul>
                        {% for categorie in webinar.categories %}
                        <li><p class="categorie-label">{{ categorie.avl_categories_id.name }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </a>
        </li>

        {% endfor %}
    </ul>

</section>

{% render 'partials/foot.liquid' %}