{% render 'partials/head.liquid' %}

<section class="webinar-filters">

    <h1>Webinars</h1>

    <form action="#" method="get">
        <input type="text" name="search-webinar" placeholder="Search for a Webinar">
    </form>

    <ul class="category-webinars">
        <li><a href="#">All</a></li>
        <li><a href="#">Breast</a></li>
        <li><a href="#">Gastrointestinal</a></li>
        <li><a href="#">Gynaecology</a></li>
        <li><a href="#">Head & neck</a></li>
        <li><a href="#">Lung</a></li>
        <li><a href="#">Neuro-oncology</a></li>
        <li><a href="#">Prostate</a></li>
        <li><a href="#">Urology</a></li>
    </ul>

</section>

<section>

    <h2>All</h2>

    <ul class="webinars">
        {% for webinar in webinars %}

        <li class="webinar">
            <img src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}" width="150" height="100"
                style="object-fit: cover" />
            <span class="duration">{{ webinar.duration }}</span>
            <h3>{{ webinar.title }}</h3>
            <p class="speaker">
                {% for speaker in webinar.speakers %}
                {{ speaker.avl_speakers_id.fullname }}
                {% endfor %}
            </p>

            <div>
                <ul>
                    {% for categorie in webinar.categories %}
                    <li><span>{{ categorie.name }}</span></li>
                    {% endfor %}
                </ul>


                <a href="/webinar/{{ webinar.slug }}">Watch <img src="#" alt=""></a>
            </div>
        </li>

        {% endfor %}
    </ul>

</section>

{% render 'partials/foot.liquid' %}