{% render 'partials/head.liquid', title: webinars[0].title %}

<div class="terug width-top-btm">
    <a class="back-link" href="/"><img src="/assets/arrow-left.svg" alt="">Alle webinars</a>
</div>

<div class="wrapper-detail width-btm">
    {% for webinar in webinars %}

    <section class="left">

        <video controls>
            <source src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" />
        </video>
        <h1>{{ webinar.title }}</h1>

        <ul class="info-detail">
            <li><img src="/assets/visibility.svg" alt="">{{ webinar.views }} views</li>
            <li><img src="/assets/calendar_month.svg" alt="">{{ webinar.date | date: "%d %b %Y" }}</li>
        </ul>

        <ul class="category-detail">
            {% for categorie in webinar.categories %}
            <li>
                <p class="categorie-label">{{ categorie.avl_categories_id.name }}</p>
            </li>
            {% endfor %}
        </ul>

        <button class="transcript-link">Read transcript</button>

        <h2>Description</h2>
        <p>{{ webinar.description }}</p>
        <button class="read-more-link">Read more</button>

        <h2>The speaker</h2>

        <ul class="speakers">

            {% for speaker in webinar.speakers %}
            <li class="speaker">
                <div class="left">
                    <img src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}"
                        alt="">

                    <div class="speaker-info">
                        <h3>{{ speaker.avl_speakers_id.fullname }}</h3>
                        <p>{{ speaker.avl_speakers_id.entitle }}</p>
                    </div>
                </div>

                <a href="#">About this speaker</a>
            </li>

            {% endfor %}
        </ul>

    </section>

    <section class="right">

        <h2>Q&A</h2>
        <h3>Ask a question</h3>

        <form action="#" method="get">
            <input type="text" name="search-webinar" placeholder="Type a reply...">
        </form>

        <section class="watch-next">

            <h2>Watch next</h2>

            <ul class="webinars">
                {% for webinar in webinars %}

                <li class="webinar">
                    <a href="/webinar/{{ webinar.slug }}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}" alt="">
                        <h3>{{ webinar.title }}</h3>
                        <p class="speaker">
                            {% for speaker in webinar.speakers %}
                            {{ speaker.avl_speakers_id.fullname }}
                            {% endfor %}
                        </p>
                        <p class="date">{{ webinar.date | date: "%d %b %Y" }}</p>
                    </a>
                </li>

                {% endfor %}
            </ul>
        </section>
    </section>

    {% endfor %}
</div>

{% render 'partials/foot.liquid' %}