{% render 'partials/head.liquid' %}

<div class="wrapper-detail">
    {% for webinar in webinars %}

    <section class="left">

        <video src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" width="150" height="100"
            style="object-fit: cover"></video>
        <h1>{{ webinar.title }}</h1>

        <ul class="info-detail">
            <li>{{ webinar.views }}</li>
            <li>{{ webinar.date }}</li>
        </ul>

        <ul class="category-detail">
            {% for categorie in webinar.categories %}
            <li><span>{{ categorie.avl_categories_id.name }}</span></li>
            {% endfor %}
        </ul>

        <button>Read transcript</button>

        <h2>Description</h2>
        <p>{{ webinar.description }}</p>
        <button>Read more</button>

        <h2>Chapters</h2>

    </section>

    <section class="right">

        <h2>Q&A</h2>

        <form action="#" method="get">
            <input type="text" name="search-webinar" placeholder="Type a reply...">
        </form>

        <section class="watch-next">

            <h2>Watch next</h2>

            <ul class="watch-next-cards">
                <li class="watch-next-card">
                    <video src="#"></video>
                    <h3>
                        {% for speaker in webinar.speakers %}
                        {{ speaker.avl_speakers_id.fullname }}
                        {% endfor %}
                    </h3>
                    <p>
                        {% for speaker in webinar.speakers %}
                        {{ speaker.avl_speakers_id.entitle }}
                        {% endfor %}
                    </p>
                </li>
            </ul>
        </section>
    </section>

    {% endfor %}
</div>

{% render 'partials/foot.liquid' %}