{% render 'partials/head.liquid', title: 'Webinars' %}

<section class="webinar-filters width-top-btm">

    <h1>Webinars</h1>

    <form action="#" method="get">
        <input class="search" type="text" name="search-webinar" placeholder="Search for a Webinar">
        <button class="transcript-link" type="submit"><img src="/assets/search-icon.svg" alt=""></button>
    </form>

    <p class="label-filter">Filter by category</p>

    <div class="wrapper-filter">
        <form class="filter-form">
            <label class="filter-link">
                <input type="radio" name="category" value="" {% if not selectedCategory or selectedCategory==""
                    %}checked{% endif %}> All
            </label>

            {% for category in categories %}
            <label class="filter-link">
                <input type="radio" name="category" value="{{ category.name }}" {% if selectedCategory==category.name
                    %}checked{% endif %}>
                {{ category.name }}
            </label>
            {% endfor %}
        </form>
    </div>

</section>

<section class="all-webinars width-btm">

    <h2 class="category-title">
        {% if selectedCategory and selectedCategory != "" %}
        {{ selectedCategory }}
        {% else %}
        All
        {% endif %}
    </h2>


    <ul class="webinars">
        {% for webinar in webinars %}

        <li class="webinar">
            <a href="/webinars/{{ webinar.slug }}">
                <div class="webinar-img">
                    <img src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}" alt="">
                    <p class="duration">{{ webinar.duration }}</p>
                </div>
                <h3>{{ webinar.title | truncatewords: 10 }}</h3>
                <p class="speaker">
                    {% for speaker in webinar.speakers %}
                    {{ speaker.avl_speakers_id.fullname }}
                    {% endfor %}
                </p>

                <div>
                    <ul>
                        {% for categorie in webinar.categories %}
                        <li>
                            <p class="categorie-label">{{ categorie.avl_categories_id.name }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </a>
        </li>

        {% endfor %}
    </ul>

</section>

{% render 'partials/foot.liquid' %}